target/
!.mvn/wrapper/maven-wrapper.jar
.git/
.m2/
.apt_generated/
.settings/
.project
.classpath
.factorypath
.sts4-cache
.vscode/
.idea/
*.iws
*.iml
*.ipr
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
node_modules/
ui/node_modules/
ui/dist/
ui/.vite/
.env
*.log
docker-compose.yml
Dockerfile
README.md
test.png
TestPath.class
TestPath.java
